/* AddCustomTask */
.addTaskBtn {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(
    90deg,
    rgb(245, 213, 59) 0%,
    rgb(241, 195, 65) 55%,
    rgb(236, 177, 70) 100%
  );
  box-shadow: 0px 8px 29px 0px rgba(178, 138, 61, 0.31);
  padding: 0;
  cursor: pointer;
  outline: none;

  font-size: 43px;
  line-height: 52px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
}
.addTaskBtnLabel {
  font-size: 11px;
  font-family: "Montserrat";
  color: rgb(133, 133, 152);
  line-height: 21px;
  letter-spacing: 1px;
}
/* AddCustomTask */


@media (max-width: 768px) {
  .addTaskBtn {
    position: fixed;
    top: 92%;
    left: 88%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .addTaskBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 416px;
  }
}
