* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.modalBackdrop {
  background-color: rgba(100, 100, 100, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 280%;
  position: absolute;
  top: 0;
  left: 0;
}

.modalBox {
  position: relative;
  box-shadow: 3px 8px 19px 0px rgba(0, 0, 0, 0.4);
  width: 280px;
  min-height: 300px;
  /* max-height: 672px; for 2 rows of prizes */
  /* 3 rows - 672px? probably */
  border-radius: 6px;
  background-color: #fff;
}
.modalImgCat {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.modalGreetings {
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  margin-top: 90px;
}
.modalPrizes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 24px;
}
.modalPrizesItem {
  width: 100px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalPrizesItemImageWrapper {
  border-radius: 50%;
  border: 8px solid #ffbe2a;
  margin-bottom: 4px;
}
.modalPrizesPhoto {
  box-sizing: inherit;
  border-radius: 50%;
}
.modalPrizesName {
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  .modalBackdrop {
    height: 100%;
  }
  .modalBox {
    min-height: 392px;
    max-height: 564px;
    width: 613px;
  }
  .modalGreetings {
    font-weight: 600;
    width: 100%;
    margin-top: 130px;
    text-align: center;
    line-height: 1.3;
    font-size: 27px;
    display: inline-block;
  }
  .modalPrizes {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 26px;
  }
  .modalPrizesItem:nth-child(-n + 4) {
    margin-bottom: 10px;
  }
  .modalPrizesItemImageWrapper {
    margin-bottom: 9px;
  }
}
