.Card__list {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.Card__listDiv {
  border-radius: 10px;
}


.Card__listFooter {
  display: flex;
  background-color: #efbb43;
  width: 280px;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Card__listImg {
  width: 280px;
  height: 196px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.Card__listTitle {
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.Card__listPoint {
  border-radius: 4px;
  background-color: #5579d7;
  width: 65px;
  height: 18px;
  color: #ffffff;
  font-size: 11px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card__listText {
  margin-left: 18px;
}
.Card__listBt {
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card__listBtton {
  /* background-color: #ffffff; */
  border: none;
  font-size: 26px;
  font-family: "Montserrat";
  color: #ffffff;
  text-transform: uppercase;
  line-height: 0.808;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .Card__list:nth-child(2n + 1) {
    margin-right: 22px;
  }
  /* .Card__list:nth-last-child(-n + 1) {
    margin-bottom: 0;
  } */
}
@media (min-width: 1200px) {
  .Card__list {
    margin-right: 22px;
  }
}
