html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
<<<<<<< HEAD
    z-index: 880;
=======
    z-index: 888;
>>>>>>> dev
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 278px;
    background-color: #fff;
    background-image: url(../../assets/image/modalAddTask/1.jpg);
    border: none;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: #ffbc33;

}

.form {
    margin: 0;
    padding: 24px;

}

.formContainer {
    background-color: #ffbc33;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* height: 190px; */
    margin-top: 130px;

}

.input {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: left;
    width: 98%;
    font-style: italic;
    margin-bottom: 30px;
    padding-left: 44px;
    padding-bottom: 4px;
    outline-offset: 0px;
    text-align: center;
    outline: none;
    background-size: 10%;
    background-image: url("../../assets/image/icon/icon-edit/edit-24px.svg");
    background-repeat: no-repeat;
    background-position: 8%;
    margin-left: auto;
    margin-right: auto;
}

.input::placeholder {
    color: #fff;
    text-align: left;
    padding-left: 5px;
}

.buttonClose {
    text-align: center;
    width: 24px;
    height: 18px;
    border-radius: 20px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    background-image: url(../../assets/image/icon/icon-close/close.svg);
}

.buttonSubmit {
    font-family: sans-serif;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    font-weight: 600;
    display: block;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    /* margin: 10px auto 15px; */
    margin: 0 auto;
    font-family: inherit;
}

@media (min-width: 768px) {

    .input,
    .input::placeholder {
        font-size: 16px;
    }

    /* .content {
        width: 300px;
    } */
}

/* 
@media (min-width: 1200px) {
    .content {
        width: 290px;
    }

    .form {
        margin-top: 206px;
    }

    .buttonSubmit {
        font-size: 16px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
} */