.container {
  display: flex;
  flex-direction: column;
  width: 282px;
  background-color: #ececec;
  background-color: #fafafa;
}
.currentWeekRange {
  display: block;
  height: 40px;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
}
.cardList {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    height: 70px;
    background-color: #efbb43;
  }
  .weekTabsPlusWeekRange {
    display: flex;
    justify-content: space-between;
  }
  .cardList {
    padding-left: 94px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1040px;
    height: 88vh;
    background-color: #ececec;
    overflow: scroll;
  }
  .currentWeekRange {
    display: block;
    height: 40px;
  }
  .mainHeader {
    display: flex;
    justify-content: space-between;
  }
  
  .cardList {
    padding-top: 30px;
    padding-left: 94px;

  }
}
