.container{
  width: 1040px;
  height: 790px;
  /* background-color: orange; */
  background-color: #ececec;
}
.currentWeekRange {
  display: block;
  /* background-color: orange; */
  height: 40px;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
}
.cardList {
  padding-top: 30px;

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
  /* background-color: rgb(115, 115, 155); */
}
