.contacts {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 50px;
  background-color: var(--bg-color-gray);
}

.contacts_all_card {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 60px;
}

.contacts_main_tittle {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 26px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 10px;
}

.contacts_second_tittle {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 30px;
}

.contacts_card {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: left;
  list-style: none;
  margin-bottom: 40px;
}

.contacts_card:hover {
  transform: translateX(-8px);
  background-color: #e7e7e7;
  border-radius: 7px;
}

.contacts_img {
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 7px;
}

.contacts_name {
  font-size: 11px;
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 5px;
  margin-left: 30px;
  font-weight: 600;
}

.contacts_possition {
  padding-bottom: 0px;
}

.contacts_possition,
.contacts_mail {
  font-size: 11px;
  font-family: "Montserrat";
  font-style: normal;
  color: #858598;
  margin-bottom: 3px;
  margin-left: 30px;
  font-weight: 400;
}

.contacts_possition_describe {
  font-size: 12px;
  font-family: "Montserrat";
  font-style: normal;
  color: #000000;
  margin-left: 30px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 125px;
  }

  .contacts_all_card {
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts_main_tittle {
    font-size: 36px;
  }

  .contacts_second_tittle {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .contacts {
    padding-top: 130px;
  }

  .contacts_all_card {
    width: 1180px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts_main_tittle {
    font-size: 36px;
  }

  .contacts_second_tittle {
    font-size: 18px;
  }
}
