* {
  outline: none;
  /* background-color: #fafafa; */
}
 
.Card__list {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}
.Card__listFooter {
  display: flex;
  background-color: #efbb43;
  width: 280px;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 6px 6px;
}
.Card__listImg {
  width: 280px;
  height: 196px;
  border-radius: 6px 6px 0 0;
}
.Card__listTitle {
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.Card__listPoint {
  border-radius: 4px;
  background-color: #5579d7;
  width: 65px;
  height: 18px;
  color: #ffffff;
  font-size: 11px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card__listText {
  margin-left: 18px;
}

.Card__listUl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.Popup {
  background-color: #5579d7;
  color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
  transform: translate(186px, -8px);
  position: absolute;
}

.Popup__li {
  margin: 6px;
}

.Card__plus {
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
}

 @media (min-width: 768px) {
  .Card__listUl {
    flex-direction: row;
    max-width: 582px;
    padding-bottom: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .Card__list:nth-child(2n + 1) {
    margin-right: 22px;
  } 
}
@media (min-width: 1200px) {
  .Card__list {
    margin-right: 22px;
  }
  .Card__list:nth-child(4n) {
    margin-right: 0;
  }

  .Card__listUl {
    max-width: 1186px;
    padding-bottom: 50px;
  }
} 
