.week {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 8px;
  padding-bottom: 26px;
  padding-top: 10px;
}

@media (max-width: 1199px) and (min-width: 760px) {
  .week {
    padding: 24px 45px 24px 95px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .week {
    font-size: 18px;
    justify-content: start;
    padding: 40px 0 0 76px;
    margin-bottom: 18px;
  }
}
