.backdrop {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3.464px 8px 0px rgba(29, 29, 27, 0.1);

}
.contactLink{
    color: #c2c2cb;
    font-size: 12px;
}
<<<<<<< HEAD
.navLinkDiv{
    margin-top: 20px;
}
=======

>>>>>>> dev
.headerContainer {
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.navigUserInfoContainer {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfoContainer {
    order: 1;
}

.navContainer {
    order: 2;
}


@media (min-width: 768px) {
    .headerContainer {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .navigUserInfoContainer {
        width: 180px;
    }

    .userInfoContainer {
        order: 2;
        /* margin-right: 40px; */
    }

    .navContainer {
        
        order: 1;
    }

}

@media (min-width: 1200px) {
    .headerContainer {
        width: 1200px;
    }
    .navigUserInfoContainer {
        width: 640px;
    }
}
.navLinkDiv{
    font-size: 12px;
<<<<<<< HEAD
    /* margin-top: 10px; */
=======
>>>>>>> dev
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #c2c2cb;
}