  /* montserrat-regular - latin */
  @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      src: local('Montserrat Regular'), local('Montserrat-Regular'),
          url('../assets/fonts/montserrat-v14-latin-600.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../assets/fonts/montserrat-v14-latin-600.woff') format('woff'),
          /* Modern Browsers */
  }


  html {
      box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
  }

  .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
  }


  .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 282px;
      /* min-height: 262px; */
      background-color: #fff;
      background-image: url(./img/1.jpg);
      border: none;
      background-repeat: no-repeat;
      border-radius: 10px;
  }

  .image {
      width: 282px;
      /* min-height: 130px; */
      background-color: #fff;
      background-image: url(./img/1.jpg);
      border: none;
      background-repeat: no-repeat;
  }



  .form {
      margin: 0;
      margin-top: 130px;
      padding: 24px 28px;
  }

  .formContainer {
      background-color: #ffbc33;

  }

  .input,
  .input::placeholder {
      display: block;
      font-weight: 300;
      color: #fff;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      text-align: center;
      width: 224px;
      font-style: italic;
      margin-bottom: 30px;
      text-align: left;
      padding-left: 24px;
  }

  /* .inputForm:required:focus:valid {
    outline: 3px solid #08f308;

}

.inputForm:required:focus:invalid {
    outline: 3px solid #ff0000;
} */

  /* .input::placeholder {
      color: #ff0000;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
  } */

  .buttonClose {
      text-align: center;
      width: 24px;
      height: 18px;
      border-radius: 20px;
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 10px;
      outline: none;
  }

  .buttonSubmit {
      margin-top: 10px;
      font-family: sans-serif;
      width: 60px;
      padding: 5px;
      border-radius: 4px;
      border: none;
      background-color: #fff;
      font-weight: 600;
      margin: 0 auto;
      display: block;
  }



  .inputLabel {
      font-size: 16px;
      margin-bottom: 8px;
      font-weight: 400;
  }

  @media (min-width: 768px) {
      .hourly-weather-item {
          margin-right: 33px;
      }
  }



  @media (min-width: 1280px) {
      .hourly-weather-item {
          margin-right: 10px;
      }
  }