.userName {
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 92px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    font-weight: 600;
    color: rgb(31, 31, 31);
}

@media (min-width: 768px) {
    .userName {
        margin-left: 20px;
    }
}