.button {
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonGood {
    background-color: rgb(255, 0, 0);
    border: none;
    font-size: 26px;
    font-family: "Montserrat";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.808;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
  }
  