.enter {
  transform: scale(0.5);
  opacity: 0;
}

.enterActive {
  transform: scale(1);
  opacity: 1;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  transform: scale(0.5);
  opacity: 0;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
