.week {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
  }
  
  .wrapper {
    display: flex;
    letter-spacing: 0.16em;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .wrapper {
      display: flex;
      justify-content: center;
    }
    .task {
      margin-right: 5px;
    }
  }
  @media (min-width: 1200px) {
    .wrapper {
      width: 400px;
      justify-content: start;
      font-size: 12px;
      padding: 20px 0;
      margin: 0;
    }
  }